* {
    padding: 0px;
    margin: 0 auto;
}

#Register_title {
    text-align: center;
}

#Register_btn {
    margin: 0;
    padding-left: 0;
}

#Register_psw {
    margin: 0;
}

.container-fluid{
    margin-top:11%;
}

.alert-warning {
    background-color: rgba(252,248,227,0.8);
    line-height:34px;
}

.card {
    background-color:rgba(255,255,255,0.7);
}

body {
    background-image: url('../../img/Register.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*
body {
    background-image: url('../../img/Register.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.login-box {
    margin: 10% auto;
    width: 700px;
    border: 1px solid #CCC;
    /*background-color: rgba(255,255,255,0.7);*/
    border-radius: 20px;
    height: 350px;
    background-color: rgb(243, 234, 226,0.7);
}
.login-box h2{
    line-height:40px;   
}
.hei {
    line-height: 50px;
}
.login-box h2{
	text-align:center;
	border-bottom:1px solid #999;
	color:#808080;	
}
.confirm_right a{
    font-size: 14px;
}*/


