@charset "utf-8";

.message_title h1
{
    font-size: 30px;
    color: white;
}

.message_show
{
    box-shadow: 0px 0px 5px 0px #eee;
    min-height: 800px;
}

.message_list
{
    list-style: none;
}

    .message_list li
    {
        height: 250px;
        border-left: 3px solid green;
        margin-top: 20px;
        overflow: hidden;
    }

.message_top
{
    width: 100%;
    height: 60px;
    margin-top: 10px;
}

.user_info
{
    padding-left: 10px;
}

    .user_info img
    {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .user_info span
    {
        float: right;
        color: #808080;
        padding-top: 10px;
    }

.user_name
{
    display: inline-table;
    font-size: 20px;
}

    .user_name i
    {
        display:inline-table;
        font-size:16px;
        color:#808080;
    }

.user_info span:hover{
    color:green;
}

.message_text
{
    float:left;
    padding-left: 10px;
    width: 70%;
    height:160px;
}

.message_list_title
{
    overflow: hidden;
}
    .message_list_title h2
    {
        margin-bottom:20px;
        font-size:24px;
    }

.message_list_content
{
    width:700px;
}

    .message_list_content p
    {
        line-height: 26px;
        font-size: 14px;
        color:#808080;
    }

.message_list_banner
{
    margin-left: 30px;
    float:left;
}
.message_list_banner img
{
    width:200px;
    height:150px;
}
.user_img
{
    padding-top:70px;
    
}
.user_img img
{
   width:80px;
   height:80px;
   border-radius:50%;
}
.message_btn{
    float:right;
    margin-top:20px;
}
    
