body {
    
}
.guestbook_nav {
    position: fixed;
    top: 15px;
    left: 26%;
    right:0;
    height:320px;
    width:650px;
}
.guestbook_nav > h3 {
        border-bottom: solid 2px #DDDDDD;
        padding-bottom:3px;
}
.container-fluid{
    margin-top:350px;
}
