@charset "utf-8";
.message_title h1{
    font-size:30px;
    color:white;
}
.message_show{
    box-shadow:0px 0px 5px 0px #eee;
    min-height:800px;
}
.message_list{
    list-style:none;
}
.message_list li{
    height:250px;
    border-left:3px solid green;
    margin-top:20px;
    overflow:hidden;
}
.message_top{
    width:100%;
    height:60px;
    margin-top:10px;
}
.user_info{
    padding-left:10px;
}
.user_info img{
    width:50px;
    height:50px;
    border-radius:50%;
}
.user_info span{
    float:right;
    color:#808080;
    padding-top:18px;
}
.user_name{
    display:inline-block;
    font-size:20px;
}
.user_name i{

}
.user_info h4{
    float:right;
    padding-top:8px;
    margin-right:20px;
}
.message_text{
    display:inline-block;
    padding-left:10px;
    width:70%;
}
.message_list_title{
    overflow:hidden;
}
.message_list_content{
    overflow:hidden;
}
.message_list_content p{
    line-height:26px;
}
.message_list_banner{
    width:25%;
  margin-left:30px;
  float:right;
}
.message_list_banner img{
    width:100%;
    height:100%;
}