@charset "utf-8";
.scenic_name
{
    color:green;
    font-size:30px; 
    display:block;
}
.scenic_py
{
   color:green;
   display:block;
}
.tourinfo_icon ul
{
    padding-top: 40px;
    list-style: none;
}

.tourinfo_icon li
{
    text-align: center;
    float: left;
    width: 100px;
    padding: 10px;
}

.tourinfo_icon span
{
    color: green;
    font-size: 24px;
}

.tourinfo_icon li:hover
{
    border: 1px solid #eee;
}

.tourinfo_content
{
    margin-top: 5px;
}

.tourinfo_banner
{
    height: 300px;
    overflow: hidden;
    z-index: 1;
}

    .tourinfo_banner .img_ul
    {
        list-style: none;
        position: absolute;
        left: 0px;
        top: 0px;
    }

        .tourinfo_banner .img_ul li
        {
            float: left;
        }

            .tourinfo_banner .img_ul li img
            {
                height: 300px;
                width: 480px;
            }

    .tourinfo_banner:hover .img_btn
    {
        display: block;
    }

.img_btn
{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 45px;
    top: 50%;
    cursor: pointer;
    display: none;
    padding: 0px;
}

.btn_left
{
    left: 40px;
    border-radius: 50%;
}

.btn_right
{
    right: 50px;
    border-radius: 50%;
}

.tourinfo_Info
{
    height: 300px;   
}

    .tourinfo_Info span
    {
        font-size: 16px;
        line-height: 26px;
        color: #808080;       
    }
    .tourinfo_txt{
        height: 230px;
        overflow-y:auto;
    }

.tourinfo_hot
{
    text-align: center;
}

    .tourinfo_hot h1
    {
        color: #808080;
        height: 30px;
        font-size: 30px;
    }

.tabs_ul
{
    margin: 40px 0px 50px 0px;
    display: inline-block;
}

.myactive
{
    border-bottom: 2px solid green;
}

.tourinfo_img
{
    list-style: none;
    color: #eee;
    display:block;
    min-height:300px;
    margin-top:50px;
}

    .tourinfo_img li
    {
        float: left;
        width: 255px;
        height: 290px;
        margin: 5px;
    }

        .tourinfo_img li:hover
        {
            box-shadow: 0px 0px 10px 10px #eee;
        }

    .tourinfo_img h4
    {
        font-size: 24px;
        color: black;
        font-family: '黑体';
    }

        .tourinfo_img h4:hover
        {
            color: #808080;
        }

    .tourinfo_img a
    {
        text-decoration: none;
    }
.btn_tour
{
    margin-top:30px;
    width:180px;
    height:50px;
    font-size:20px;
    text-align:center;
}
.more_scenic_list h4{
    float:left;
    font-size:20px;
}
.more_scenic_name{
    height:30px;
    display:block;
}
.scenic_price{
    font-size:16px;
    color:black;
    margin-top:10px;
    float:right;
}
.scenic_price i{
    color:red;
}
.scenic_title{
    text-align:left;
    color:#808080;
    font-size:16px;
    float:left;
    width:250px;
}
.more_scenic_list{
    margin-top:10px;
}
.more_scenic_btn{
    width:100%;
    margin-bottom:30px;
}
